.aplicacao {
	margin: 5px;
}

.margem {
	margin-bottom: 25px;
}

.botoes{
	text-align: center;
}

.menu {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	font-size: 55px;
}

.centro-col {
	justify-content: center;
}
