<div class="aplicacao">
  <div class="container">
    <nav class="level">
      <p class="level-item has-text-centered menu">
        Reach Product
      </p>
    </nav>
    <hr>
    <div *ngIf="mostrarModal" class="modal" [ngClass]="{'modal is-active':mostrarModal}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <div class="field">
            <button (click)="fecharModal()" class="delete" style="float: right;"></button>
            <label class="label">Nome do Produto</label>
            <div class="control">
              <input [(ngModel)]="nome" class="input" name="artigo" type="text" placeholder="Pixel 2">
            </div>
          </div>
          <div class="field">
            <label class="label">Preço</label>
            <div class="control">
              <input [(ngModel)]="preco" class="input" name="valor" type="number" min="0" placeholder="1500">
            </div>
          </div>
          <div class="botoes">
            <a class="button is-success is-rounded" (click)="adicionarProduto(artigo)">Adicionar</a>
            <a class="button is-danger is-rounded" (click)="limparFormModal()">Limpar</a>
          </div>
        </div>
      </div>
    </div>
    <p class="margem botoes">
      <button class="button" (click)="abrirModal()">Adicionar Produto</button>
    </p>
  </div>
  <ng-container>
    <div class="columns centro-col" *ngFor="let produto of data">
      <div class="column is-two-fifths">
        <article class="message is-info">
          <div class="message-header">
            <b>{{produto.nome}}</b>
            <button *ngIf="produto.atingido == produto.valor" (click)="removerProduto(produto.id)" class="delete"></button>
          </div>
          <div class="message-body">
            <p class="botoes">{{produto.atingido}}€ / {{produto.valor}}€</p>

            <progress *ngIf="(produto.atingido < produto.valor) && (produto.atingido > +produto.valor*0.50)" class="progress is-warning" value="{{produto.atingido}}" max="{{produto.valor}}">{{produto.atingido}} / {{produto.valor}}</progress>

            <progress *ngIf="produto.atingido == produto.valor" class="progress is-success" value="{{produto.atingido}}" max="{{produto.valor}}">{{produto.atingido}} / {{produto.valor}}</progress>

            <progress *ngIf="produto.atingido < +produto.valor*0.50" class="progress is-danger" value="{{produto.atingido}}" max="{{produto.valor}}">{{produto.atingido}} / {{produto.valor}}</progress>

            <p class="botoes">Adicionar</p>
            <div class="botoes">
              <a class="button is-success is-rounded" (click)=adicionarCq(produto.id)>50</a>
              <a class="button is-primary is-rounded" (click)=adicionarVc(produto.id)>25</a>
              <a class="button is-link is-rounded" (click)=adicionarDz(produto.id)>10</a>
              <a class="button is-info is-rounded" (click)=adicionarCin(produto.id)>5</a>
              <a class="button is-warning is-rounded" (click)=adicionarUn(produto.id)>1</a>
              <a class="button is-danger is-rounded" (click)=adicionarCent(produto.id)>0.10</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </ng-container>
</div>

